@using Microsoft.AspNetCore.Mvc.TagHelpers
@using JewelryWarehouse.Controllers
@model IEnumerable<JewelryWarehouse.Models.DTO.CartItemDTO>
@inject Microsoft.Extensions.Localization.IStringLocalizer<HomeController> localizer

<h1>Shopping Cart</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" style="background-color: red" asp-area="" asp-controller="Product" asp-action="Index">@localizer["ReturnToShopping"]</a>
        </li>
    </ul>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.ProductPrice</td>
            <td>@item.TotalPrice</td>
            <td>
                <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId"><img src="~/img/Icons/remove-icon.png" style="width: 24px; height: 24px;"/></a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="ClearCart">Clear Cart</a>